<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/Adatlap.css" />
    <script src="https://kit.fontawesome.com/9b606b0459.js" crossorigin="anonymous"></script>
    <title>Retro Film Kincsek</title>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <section class="section-details">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="details__title"><%=list[0].MagyarCim%></h1>
          </div>

          <div class="col-12 col-xl-11">
            <div class="card card--details card--series">
              <div class="card__cover">
                <img src="/Filmek/<%=list[0].EredetiCim%>/Image_1.jpg" alt="" />s
              </div>

              <div class="card__content">
                <% if (locals.session.user_id>0){ %>
                   <% if (favorite) { %>
                <div class="button-div">
                  <form action="/removeFavorite" method="post" id="formRemove"> 
                    <a onclick="document.getElementById('formRemove').submit();"><i class="fa-solid fa-star fa-xl" style="color: #ffff00;"></i></a>
                    <input                     
                    type="text"
                      value="<%= list[0].FilmID %>"
                      name="filmId"
                      style="display: none"
                    />
                  </form>
                </div>
                <% } else { %>
                <div class="button-div">
                  <form action="/addFavorite" method="post"  id="formAdd">
                    <a onclick="document.getElementById('formAdd').submit();"><i class="fa-regular fa-star fa-xl" style="color: #ffff00;"></i></a>
                    <input
                      type="text"
                      value="<%= list[0].FilmID %>"
                      name="filmId"
                      style="display: none"
                    />
                  </form>
                </div>
                <% }; %>
                 <% } else { %>
                  <div class="button-div">
                    <form action="/user/login" method="get"  id="formAdd">
                      <a onclick="document.getElementById('formAdd').submit();"><i class="fa-regular fa-star fa-xl" style="color: #ffff00;"></i></a>
                    </form>
                  </div>
                  <% }; %>
                
                <ul class="card__meta">
                  <li><span>Eredeti cím:</span> <%=list[0].EredetiCim%></li>
                  <li>
                    <span>Műfaj:</span>
                    <%kategoria.forEach((item,index) => {%>
                    <%if(index!=kategoria.length-1){%>
                    <a href="../kategoria/<%=item.kategoria%>"><%=item.kategoria%>,</a>
                    <%}else{%>
                    <a href="../kategoria/<%=item.kategoria%>"><%=item.kategoria%></a>
                    <%}%> <%});%>
                  </li>
                  <li><span>Kiadás év:</span> <%=list[0].Ev%></li>
                  <li><span>Hossz:</span> <%=list[0].hossz%></li>
                  <li><span>Korhatár:</span> <%=list[0].Besorolas%></li>
                  <li><span>IMDB:</span> <%=list[0].IMDB%></li>
                  <li>
                    <span>Rendező:</span> <a href="../rendezo/<%=list[0].Rendezo.replace(' ','+')%>"><%=list[0].Rendezo%></a>
                  </li>
                  <li>
                    <span>Színészek:</span>
                    <%szineszek.forEach((item,index) => {%>
                    <%if(index!=szineszek.length-1){%>
                    <a href="../szinesz/<%=item.szinesz.replace(' ','+')%>"><%=item.szinesz%>,</a>
                    <%}else{%>
                    <a href="../szinesz/<%=item.szinesz.replace(' ','+')%>"><%=item.szinesz%></a>
                    <%}%> <%});%>
                  </li>
                </ul>
                <div
                  class="b-description_readmore_wrapper js-description_readmore_wrapper"
                  style="max-width: 785px"
                >
                  <div
                    class="card__description card__description--details"
                    style="min-height: 130px; overflow: hidden; height: 208px"
                  >
                    <%=list[0].Attekinto%>
                  </div>

                  <button onclick="history.back()" class="vissza">Vissza</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
