<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css" />
    
    <title>Retro Film Kincstek</title>
</head>
<body>
     <%- include('navbar.ejs') %>
     <div class="container">
        <h1 class="text-center mt-5 mb-5">Movie Data</h1>
        <div class="movie-card">
          <img src="<%= movie.poster %>" alt="<%= movie.Title %>">
          <div class="card-body">
            <h5 class="card-title"><%= movie.Title %></h5>
            <p><strong>Director:</strong> <%= movie.Director %></p>
            <p><strong>Actors:</strong> <%= movie.Actors %></p>
            <p><strong>Category:</strong> <%= movie.Category %></p>
            <p><strong>Release Year:</strong> <%= movie.Release_year %></p>
            <p><strong>Length:</strong> <%= movie.length %> minutes</p>
            <p><strong>Description:</strong> <%= movie.description %></p>
          </div>
        </div>
      </div>

</body>
</html>