<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/Card.css" />
  <link rel="stylesheet" href="/css/main.css" />
  
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/Card.css" />
  <title>Retro Film Kincsek</title>
</head>
<body>
  <%- include("navbar.ejs") %>
  <div class="Sliders">
  <div class="slider-container">
    <h2>Idén évfordulós</h2>
    <div class="swiper-container slider1">
      <div class="swiper-wrapper">
        <% list.forEach(function(card) { %>
          <div class="swiper-slide">
            <div class="card">
              <div class="card__cover">
                <img src="/Filmek/<%= card.EredetiCim %>/Image_1.jpg" alt="<%= card.title %>">
              </div>
              <div class="card__content">
                <h4 class="card__title"><a href="/film/<%=card.FilmID%>"><%= card.MagyarCim %></a></h4>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="slider-container">
    <h2>Kritikusok által elismertek</h2>
    <div class="swiper-container slider2">
      <div class="swiper-wrapper">
        <% imdb.forEach(function(card,index) { %>
        <div class="swiper-slide">
          <div class="card">
            <div class="card__cover">
              <img src="/Filmek/<%= card.EredetiCim %>/Image_1.jpg" alt="<%= card.title %>">
            </div>
            <div class="card__content">
              <h4 class="card__title"><a href="/film/<%=card.FilmID%>"><%= card.MagyarCim %></a></h4>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>
  <script src="/js/swiper-bundle.min.js"></script>
  <script>
  var bodyWidth = window.innerWidth
  if(bodyWidth<768){
    swiper2 = new Swiper('.slider1', {
    slidesPerView: 3,
    spaceBetween: 10,
    navigation: {
      nextEl: '.slider1 .swiper-button-next',
      prevEl: '.slider1 .swiper-button-prev',
    },
  });
  }else if(bodyWidth<1600){
    var swiper2 = new Swiper('.slider1', {
      slidesPerView: 7,
      spaceBetween: 20,
      navigation: {
        nextEl: '.slider1 .swiper-button-next',
        prevEl: '.slider1 .swiper-button-prev',
      },
    });
  }else{
  swiper2 = new Swiper('.slider1', {
    slidesPerView: 9,
    spaceBetween: 20,
    navigation: {
      nextEl: '.slider1 .swiper-button-next',
      prevEl: '.slider1 .swiper-button-prev',
    },
  });
}
</script>
  <script>
    var bodyWidth = window.innerWidth
  if(bodyWidth<768){
    swiper2 = new Swiper('.slider2', {
    slidesPerView: 3,
    spaceBetween: 10,
    navigation: {
      nextEl: '.slider2 .swiper-button-next',
      prevEl: '.slider2 .swiper-button-prev',
    },
  });
    }else if(bodyWidth<1600){
    var swiper2 = new Swiper('.slider2', {
      slidesPerView: 7,
      spaceBetween: 20,
      navigation: {
        nextEl: '.slider2 .swiper-button-next',
        prevEl: '.slider2 .swiper-button-prev',
      },
    });
  } else{
    var swiper2 = new Swiper('.slider2', {
      slidesPerView: 9,
      spaceBetween: 20,
      navigation: {
        nextEl: '.slider2 .swiper-button-next',
        prevEl: '.slider2 .swiper-button-prev',
      },
    });
  }
  </script>

</body>
</html>
