<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css"
  <title>Document</title>
</head>

<body>
  <%- include('menu.ejs') %>
  <h1>Képtár! Felhasználó: <%=username%> <img src="/profil/<%=profilkep%>" style="width:150px;" /></h1>
  <a href="/ujkep">Új kép feltöltése</a>

  <form action="/kepszures" method="post">
    <select name="kateg">
      <% kateg.forEach(function(item) { %>
        <option value=<%=item.id%> <%= item.id == kateg_id ? 'selected' : ''%> > <%=item.nev%>
        </option>
        <% }); %>
    </select>
    <input type="submit" value="Szűrés" class="btn btn-default">
  </form>

  <div class="container">
    <h1 class="text-center">Összes Film</h1>
    <% list.forEach(function(item) { %>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="/uploads/<%=item.Plakatok%>" alt="Movie Poster">
                <div class="card-body">
                  <h4 class="card-title"><%= item.MagyarCim %></h4>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
        </div>
    </div>
  </div>
  <% }); %>
  <%- include('footer.ejs') %>
</body>

</html>