<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/Card.css" />
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/kereses.css"/>
    <title>Retro Film Kincsek</title>
  </head>

  <body>
    <%- include('navbar.ejs') %>
    <%if( Kereses==""){ %>
    <div class="keresett"><%= megkapott%> <p class="megnev">
      <% for(var i=0; i<megkapottListaja.length; i++) {%>
       <%= megkapottListaja[i] %>,
        <%}%></p></div>
    <%}else{%>
      <div class="keresett">Keresett kifejezés: <p class="megnev"><%= Kereses %></p></div>
      <%}%>
    <div id="hely">
      <%- include('card.ejs') %>
    </div>
    </div>
  </body>
</html>
